.CreateQuizText {
text-align: center;
    border: 10px solid black;
    background-color: white; opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 70px
}

.CUDQuestion{
  background-color: #80ced6; opacity: 0.9;
  position:fixed;
  bottom: 8%;
  right:7%;
  width: 560px;
  height: 500px;
  border: 25px solid whitesmoke; 
  padding: 25px;
  margin: 25px;
}

.createQuiz {
  text-align: center;
  position: fixed;
  bottom: 45%;
  right:11%

}

.updateQuiz {
text-align: center;
  position: fixed;
  bottom: 45%;
  right:29%
}

.deleteQuiz {
text-align: center;
  position: fixed;
  bottom: 15%;
  right: 20%
}

.QuestionButtons {
position: fixed;
top: 18%;
left: 7%;
width: 775px;
height: 575px;
border: 25px solid  #b0aac0;
padding: 25px;
margin: 25px;
background-color: white; opacity: 0.9.7;
text-align: center;
}

.AllCreate input[type=text] {
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.AllCreate input[type=password] {
  width: 100%;
  padding: 10px 15px;
  margin: 6px 0;
  box-sizing: border-box;
}

.AllCeate button {
  background-color: black;;
  color: white;
  border: 2px solid #555555;
  width: 100%;
  padding: 10px 15px;
  margin: 6px 0;
}

.AllCreate button:hover {
  background-color: white;
  color: black;
}

